In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.common.by import By

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Answer No.1

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

table = soup.find("table", class_="wikitable sortable")
rows = table.find_all("tr")[1:]

data = []
for row in rows:
    cols = row.find_all("td")
    if len(cols) > 0:
        rank = cols[0].text.strip()
        name = cols[1].text.strip()
        artist = cols[2].text.strip()
        upload_date = cols[3].text.strip()
        views = cols[4].text.strip().replace(",", "")
        data.append([rank, name, artist, upload_date, views])


df = pd.DataFrame(data, columns=["Rank", "Name", "Artist", "Rating", "Upload Date"])
df

,Rank,Name,Artist,Rating,Upload Date
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.73,June 17 2016
1,2.,"""Despacito""[7]",Luis Fonsi,8.14,January 12 2017
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.69,October 8 2016
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,6.15,May 2 2018
4,5.,"""Shape of You""[16]",Ed Sheeran,5.97,January 30 2017
5,6.,"""See You Again""[18]",Wiz Khalifa,5.86,April 6 2015
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.26,March 6 2014
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,5.14,May 24 2018
8,9.,"""Uptown Funk""[25]",Mark Ronson,4.89,November 19 2014
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,4.87,February 27 2018
10,11.,"""Gangnam Style""[27]",Psy,4.77,July 15 2012
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.55,January 31 2012
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.32,April 5 2018
13,14.,"""Axel F""[34]",Crazy Frog,3.87,June 16 2009
14,15.,"""Sugar""[35]",Maroon 5,3.86,January 14 2015
15,16.,"""Roar""[36]",Katy Perry,3.78,September 5 2013
16,17.,"""Counting Stars""[37]",OneRepublic,3.77,May 31 2013
17,18.,"""Sorry""[38]",Justin Bieber,3.65,October 22 2015
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,3.61,June 25 2018
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,3.58,October 7 2014
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,3.56,June 4 2010
21,22.,"""Dark Horse""[42]",Katy Perry,3.50,February 20 2014
22,23.,"""Faded""[43]",Alan Walker,3.44,December 3 2015
23,24.,"""Perfect""[44]",Ed Sheeran,3.42,November 9 2017
24,25.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.42,June 14 2018
25,26.,"""Let Her Go""[46]",Passenger,3.42,July 25 2012
26,27.,"""Girls Like You""[47]",Maroon 5,3.40,May 31 2018
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.38,January 26 2018
28,29.,"""Lean On""[49]",Major Lazer,3.37,March 22 2015
29,30.,"""Bailando""[50]",Enrique Iglesias,3.37,April 11 2014

In [11]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.imdb.com/list/ls095964455/'

# Send a request to the webpage
response = requests.get(url)

# Parse HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Find all the TV series listed
series_list = soup.find_all('div', {'class': 'lister-item mode-detail'})

# Create empty lists to store the details
names = []
year_spans = []
genres = []
runtimes = []
ratings = []
votes = []

# Loop through each TV series and extract the details
for series in series_list:
    name = series.h3.a.text.strip()
    names.append(name)
    
    year_span = series.find('span', {'class': 'lister-item-year'}).text.strip('()')
    year_spans.append(year_span)
    
    genre = series.find('span', {'class': 'genre'}).text.strip()
    genres.append(genre)
    
    runtime = series.find('span', {'class': 'runtime'}).text.strip()
    runtimes.append(runtime)
    
    rating = series.find('div', {'class': 'ipl-rating-star small'}).text.strip()
    ratings.append(rating)
    
    vote = series.find('span', {'name': 'nv'}).text.strip()
    votes.append(vote)

data_dict = {
    'Name': names,
    'Year Span': year_spans,
    'Genre': genres,
    'Runtime': runtimes,
    'Rating': ratings,
    'Votes' : votes
}

df = pd.DataFrame(data_dict)

df

,Name,Year Span,Genre,Runtime,Rating,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"2,154,096"
1,Stranger Things,2016–2024,"Drama, Fantasy, Horror",51 min,8.7,"1,235,995"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.1,"1,023,293"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"301,129"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"260,060"
...,...,...,...,...,...,...
95,Reign,2013–2017,Drama,42 min,7.4,"51,406"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"63,448"
97,Criminal Minds,2005–,"Crime, Drama, Mystery",42 min,8.1,"206,886"
98,Scream,2015–2019,"Comedy, Crime, Drama",45 min,7,"42,954"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"256,563"

In [39]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

url = "https://archive.ics.uci.edu/"
driver = webdriver.Chrome(r"C:\Users\rehan\Downloads\chromedriver_win32\chromedriver.exe")
driver.get(url)
time.sleep(10)

table = driver.find_elements(By.XPATH, "//table")[5]
rows = table.find_elements(By.XPATH, "//tr")[1:]

data = []
for row in rows:
    cols = row.find_elements(By.XPATH, "//td")
    name = cols[0].text.strip()
    data_type = cols[1].text.strip()
    task = cols[2].text.strip()
    attribute_type = cols[3].text.strip()
    instances = cols[4].text.strip()
    attributes = cols[5].text.strip()
    year = cols[6].text.strip()
    data.append([name, data_type, task, attribute_type, instances, attributes, year])

df = pd.DataFrame(data, columns=['Dataset Name', 'Data Type', 'Task', 'Attribute Type', 'No of Instances', 'No of Attributes', 'Year'])
df

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attributes,Year
0,Center for Machine Learning and Intelligent Sy...,About Citation Policy Donate a Data Set Con...,Welcome to the UC Irvine Machine Learning Repo...,Supported By:,,In Collaboration With:,
1,Center for Machine Learning and Intelligent Sy...,About Citation Policy Donate a Data Set Con...,Welcome to the UC Irvine Machine Learning Repo...,Supported By:,,In Collaboration With:,
2,Center for Machine Learning and Intelligent Sy...,About Citation Policy Donate a Data Set Con...,Welcome to the UC Irvine Machine Learning Repo...,Supported By:,,In Collaboration With:,
3,Center for Machine Learning and Intelligent Sy...,About Citation Policy Donate a Data Set Con...,Welcome to the UC Irvine Machine Learning Repo...,Supported By:,,In Collaboration With:,
4,Center for Machine Learning and Intelligent Sy...,About Citation Policy Donate a Data Set Con...,Welcome to the UC Irvine Machine Learning Repo...,Supported By:,,In Collaboration With:,
...,...,...,...,...,...,...,...
58,Center for Machine Learning and Intelligent Sy...,About Citation Policy Donate a Data Set Con...,Welcome to the UC Irvine Machine Learning Repo...,Supported By:,,In Collaboration With:,
59,Center for Machine Learning and Intelligent Sy...,About Citation Policy Donate a Data Set Con...,Welcome to the UC Irvine Machine Learning Repo...,Supported By:,,In Collaboration With:,
60,Center for Machine Learning and Intelligent Sy...,About Citation Policy Donate a Data Set Con...,Welcome to the UC Irvine Machine Learning Repo...,Supported By:,,In Collaboration With:,
61,Center for Machine Learning and Intelligent Sy...,About Citation Policy Donate a Data Set Con...,Welcome to the UC Irvine Machine Learning Repo...,Supported By:,,In Collaboration With:,
62,Center for Machine Learning and Intelligent Sy...,About Citation Policy Donate a Data Set Con...,Welcome to the UC Irvine Machine Learning Repo...,Supported By:,,In Collaboration With:,

In [2]:
import requests
from bs4 import BeautifulSoup

# Send a GET request to the BCCI website
url = 'https://www.bcci.tv/'
response = requests.get(url)

# Parse the HTML content of the page using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find the link to the international fixtures page
fixtures_link = soup.find('a', {'class': 'navigation__link', 'title': 'Fixtures'})

if fixtures_link is not None:
    fixtures_link = fixtures_link.get('href')
    fixtures_url = 'https://www.bcci.tv' + fixtures_link

    # Send a GET request to the international fixtures page
    response = requests.get(fixtures_url)

    # Parse the HTML content of the page using BeautifulSoup
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find all the fixtures on the page
    fixtures = soup.find_all('div', {'class': 'js-list'})

    # Loop through each fixture and extract the details
    for fixture in fixtures:
        title = fixture.find('p', {'class': 'fixture__additional-info'}).text.strip()
        series = fixture.find('span', {'class': 'u-unskewed-text'}).text.strip()
        place = fixture.find('p', {'class': 'fixture__additional-info'}).find_next_sibling('span').text.strip()
        date_time = fixture.find('div', {'class': 'fixture__datetime desktop-only'}).text.strip()

        # Print the details of the fixture
        print('Title:', title)
        print('Series:', series)
        print('Place:', place)
        print('Date and Time:', date_time)
        print('-' * 50)
else:
    print('Could not find the link to the international fixtures page.')

Could not find the link to the international fixtures page.

In [33]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the website to be scraped
url = 'https://www.billboard.com/charts/hot-100'

# Send a GET request to the URL
response = requests.get(url)

# Parse the HTML content of the page using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing the top 100 songs
table = soup.find('div', {'class': "a-span2 lrv-u-padding-r-2 lrv-u-padding-r-00@mobile-max lrv-u-height-100p"})

# Create empty lists to store the song details
song_names = []
artist_names = []
last_week_ranks = []
peak_ranks = []
weeks_on_board = []

# Extract the details of each song from the table
for row in table.find_all('tr'):
    # Extract the song name
    song_name = row.find('span', {'class': 'chart-element__information__song'}).text
    song_names.append(song_name)
    
    # Extract the artist name
    artist_name = row.find('span', {'class': 'chart-element__information__artist'}).text
    artist_names.append(artist_name)
    
    # Extract the last week rank
    last_week_rank = row.find('span', {'class': 'chart-element__meta text--center color--secondary text--last'}).text
    last_week_ranks.append(last_week_rank)
    
    # Extract the peak rank
    peak_rank = row.find('span', {'class': 'chart-element__meta text--center color--secondary text--peak'}).text
    peak_ranks.append(peak_rank)
    
    # Extract the weeks on board
    weeks_on_board = row.find('span', {'class': 'chart-element__meta text--center color--secondary text--week'}).text
    weeks_on_board.append(weeks_on_board)

# Create a dataframe from the lists of song details
songs_df = pd.DataFrame({
    'Song': song_names,
    'Artist': artist_names,
    'Last Week Rank': last_week_ranks,
    'Peak Rank': peak_ranks,
    'Weeks on Board': weeks_on_board
})

# Print the dataframe
print(songs_df)

Empty DataFrame
Columns: [Song, Artist, Last Week Rank, Peak Rank, Weeks on Board]
Index: []