In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

# Answer no.1

url = "https://en.wikipedia.org/wiki/Main_Page"

response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

headers = [header.text.strip() for header in soup.find_all(["h1", "h2", "h3", "h4", "h5", "h6"])]

df = pd.DataFrame(headers, columns=["Header"])

df

                          Header
0                      Main Page
1           Welcome to Wikipedia
2  From today's featured article
3               Did you know ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

In [2]:
# URL to scrape IMDB's Top Rated 50 movies
url = 'https://www.imdb.com/chart/top/'

# Send a GET request to the URL
response = requests.get(url)

# Create a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Find the movie data in the HTML content
movie_data = soup.select('td.titleColumn')

# Initialize lists to store movie data
names = []
ratings = []
years = []

# Loop through each movie's data and extract the name, rating, and year
for movie in movie_data:
    name = movie.a.text
    rating = movie.strong
    year = movie.span.text.strip('()')
    names.append(name)
    ratings.append(rating)
    years.append(year)

# Create a dictionary to store the movie data
movie_dict = {'Name': names, 'Rating': ratings, 'Year': years}

# Create a pandas data frame from the dictionary
movie_df = pd.DataFrame(movie_dict)

# Print the data frame
movie_df.head(50)

                                                 Name Rating  Year
0                            The Shawshank Redemption   None  1994
1                                       The Godfather   None  1972
2                                     The Dark Knight   None  2008
3                               The Godfather Part II   None  1974
4                                        12 Angry Men   None  1957
5                                    Schindler's List   None  1993
6       The Lord of the Rings: The Return of the King   None  2003
7                                        Pulp Fiction   None  1994
8   The Lord of the Rings: The Fellowship of the Ring   None  2001
9                     Il buono, il brutto, il cattivo   None  1966
10                                       Forrest Gump   None  1994
11                                         Fight Club   None  1999
12              The Lord of the Rings: The Two Towers   None  2002
13                                          Inception   None  2010
14                            The Empire Strikes Back   None  1980
15                                         The Matrix   None  1999
16                                         GoodFellas   None  1990
17                    One Flew Over the Cuckoo's Nest   None  1975
18                                              Se7en   None  1995
19                               Shichinin no samurai   None  1954
20                              It's a Wonderful Life   None  1946
21                           The Silence of the Lambs   None  1991
22                                Saving Private Ryan   None  1998
23                                     Cidade de Deus   None  2002
24                                       Interstellar   None  2014
25                                    La vita è bella   None  1997
26                                     The Green Mile   None  1999
27                                          Star Wars   None  1977
28                         Terminator 2: Judgment Day   None  1991
29                                 Back to the Future   None  1985
30                      Sen to Chihiro no kamikakushi   None  2001
31                                        The Pianist   None  2002
32                                             Psycho   None  1960
33                                       Gisaengchung   None  2019
34                                               Léon   None  1994
35                                      The Lion King   None  1994
36                                          Gladiator   None  2000
37                                 American History X   None  1998
38                                       The Departed   None  2006
39                                       The Prestige   None  2006
40                                           Whiplash   None  2014
41                                 The Usual Suspects   None  1995
42                                         Casablanca   None  1942
43                                     Hotaru no haka   None  1988
44                                            Seppuku   None  1962
45                                   The Intouchables   None  2011
46                                       Modern Times   None  1936
47                       Once Upon a Time in the West   None  1968
48                              Nuovo Cinema Paradiso   None  1988
49                                        Rear Window   None  1954

In [3]:
# URL to scrape IMDB's Top Rated 50 Indian movies
url = 'https://www.imdb.com/india/top-rated-indian-movies/'

response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')

movie_data = soup.select('td.titleColumn')

# Initialize lists to store movie data
names = []
ratings = []
years = []

for movie in movie_data:
    name = movie.a.text
    rating = movie.strong
    year = movie.span.text.strip('()')
    names.append(name)
    ratings.append(rating)
    years.append(year)

movie_dict = {'Name': names, 'Rating': ratings, 'Year': years}

movie_df = pd.DataFrame(movie_dict)

movie_df.head(50)

                                   Name Rating  Year
0   Ramayana: The Legend of Prince Rama   None  1993
1            Rocketry: The Nambi Effect   None  2022
2                               Nayakan   None  1987
3                              Gol Maal   None  1979
4                           777 Charlie   None  2022
5                            Anbe Sivam   None  2003
6                     Pariyerum Perumal   None  2018
7                              Jai Bhim   None  2021
8                           Apur Sansar   None  1959
9                              3 Idiots   None  2009
10                     Manichitrathazhu   None  1993
11                                #Home   None  2021
12                      Soorarai Pottru   None  2020
13                         Black Friday   None  2004
14                    Kumbalangi Nights   None  2019
15                    C/o Kancharapalem   None  2018
16                     Taare Zameen Par   None  2007
17                             Kireedam   None  1989
18                               Dangal   None  2016
19                               Kaithi   None  2019
20                               Jersey   None  2019
21                                   96   None  2018
22                          Maya Bazaar   None  1957
23                            Natsamrat   None  2016
24                           Drishyam 2   None  2021
25                               Asuran   None  2019
26                           Sita Ramam   None  2022
27                         Thevar Magan   None  1992
28                           Visaaranai   None  2015
29                  Sarpatta Parambarai   None  2021
30                           Thalapathi   None  1991
31                         Nadodikkattu   None  1987
32                      Pather Panchali   None  1955
33                             Drishyam   None  2013
34                         Thani Oruvan   None  2015
35                   Jaane Bhi Do Yaaro   None  1983
36                         Vada Chennai   None  2018
37                            Aparajito   None  1956
38                         Sardar Udham   None  2021
39                    Khosla Ka Ghosla!   None  2006
40                              Anniyan   None  2005
41                             Ratsasan   None  2018
42                        Chupke Chupke   None  1975
43                   Gangs of Wasseypur   None  2012
44                             Drishyam   None  2015
45                              Peranbu   None  2018
46                       Bangalore Days   None  2014
47                             Mahanati   None  2018
48                                Satya   None  1998
49                               Premam   None  2015

In [4]:
# Answer no.4

url = 'https://presidentofindia.nic.in/former-presidents.htm'

response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')

names = []
terms = []

for president in soup.find_all('div.col-md-9 ul li'):
    name = president.strong.text
    term = president.span.text
    names.append(name)
    terms.append(term)

president_dict = {'Name': names, 'Term of Office': terms}

president_df = pd.DataFrame(president_dict)

president_df

Empty DataFrame
Columns: [Name, Term of Office]
Index: []

In [5]:
# Top 10 ODI Teams
url_teams = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
res = requests.get(url_teams)
soup = BeautifulSoup(res.text,'html.parser')
table = soup.find_all('table')[0]
df_teams = pd.read_html(str(table))[0]
df_teams = df_teams.head(10)

# Top 10 ODI Batsmen
url_batsmen = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
res = requests.get(url_batsmen)
soup = BeautifulSoup(res.text,'html.parser')
table = soup.find_all('table')[0]
df_batsmen = pd.read_html(str(table))[0]
df_batsmen = df_batsmen.head(10)

# Top 10 ODI Bowlers
url_bowlers = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
res = requests.get(url_bowlers)
soup = BeautifulSoup(res.text,'html.parser')
table = soup.find_all('table')[0]
df_bowlers = pd.read_html(str(table))[0]
df_bowlers = df_bowlers.head(10)



# Print the dataframes
print("Top 10 ODI Teams:\n", df_teams)
print("\nTop 10 ODI Batsmen:\n", df_batsmen)
print("\nTop 10 ODI Bowlers:\n", df_bowlers)

Top 10 ODI Teams:
    Pos           Team T  Matches M  Points P  Rating R
0    1    Australia AUS         35      3965       113
1    2        India IND         47      5294       113
2    3   New Zealand NZ         30      3367       112
3    4      England ENG         36      3988       111
4    5     Pakistan PAK         25      2649       106
5    6  South Africa SA         29      2919       101
6    7   Bangladesh BAN         38      3625        95
7    8     Sri Lanka SL         35      3037        87
8    9   West Indies WI         43      3105        72
9   10  Afghanistan AFG         20      1419        71

Top 10 ODI Batsmen:
        Pos                 Player Team  Rating             Career Best Rating
0   1  (0)             Babar Azam  PAK     887  898 v West Indies, 10/06/2022
1   2  (0)  Rassie van der Dussen   SA     777      796 v England, 19/07/2022
2   3  (0)            Imam-ul-Haq  PAK     740  815 v West Indies, 12/06/2022
3   =  (0)        Quinton de Kock   SA     740    813 v Sri Lanka, 10/03/2019
4   5  (0)           Shubman Gill  IND     738    738 v Australia, 22/03/2023
5   6  (0)           David Warner  AUS     726     880 v Pakistan, 26/01/2017
6   7  (0)            Virat Kohli  IND     719      911 v England, 12/07/2018
7   8  (0)           Rohit Sharma  IND     707    885 v Sri Lanka, 06/07/2019
8   9  (0)            Steve Smith  AUS     702     752 v Pakistan, 22/01/2017
9  10  (0)           Fakhar Zaman  PAK     699      779 v England, 08/07/2021

Top 10 ODI Bowlers:
        Pos            Player Team  Rating             Career Best Rating
0   1  (0)    Josh Hazlewood  AUS     705      733 v England, 26/01/2018
1   2  (0)       Trent Boult   NZ     701    775 v Australia, 11/09/2022
2   3  (0)    Mohammed Siraj  IND     691  736 v New Zealand, 21/01/2023
3   4  (0)    Mitchell Starc  AUS     686  783 v New Zealand, 29/03/2015
4   5  (0)       Rashid Khan  AFG     659     806 v Pakistan, 21/09/2018
5   6  (0)        Adam Zampa  AUS     652      655 v England, 22/11/2022
6   7  (0)    Shaheen Afridi  PAK     641  688 v West Indies, 10/06/2022
7   8  (0)  Mujeeb Ur Rahman  AFG     637      712 v Ireland, 24/01/2021
8   9  (0)   Shakib Al Hasan  BAN     636     717 v Zimbabwe, 05/11/2009
9  10  (0)        Matt Henry   NZ     635   691 v Bangladesh, 26/03/2021

In [6]:
# Top 10 ODI Teams in Women's Cricket
url_teams = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
res = requests.get(url_teams)
soup = BeautifulSoup(res.text,'html.parser')
table = soup.find_all('table')[0]
df_teams = pd.read_html(str(table))[0]
df_teams = df_teams.head(10)

# Top 10 Women's ODI Batswomen
url_batswomen = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
res = requests.get(url_batswomen)
soup = BeautifulSoup(res.text,'html.parser')
table = soup.find_all('table')[0]
df_batswomen = pd.read_html(str(table))[0]
df_batswomen = df_batswomen.head(10)

# Top 10 Women's ODI All-rounders
url_allrounders = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
res = requests.get(url_allrounders)
soup = BeautifulSoup(res.text,'html.parser')
table = soup.find_all('table')[0]
df_allrounders = pd.read_html(str(table))[0]
df_allrounders = df_allrounders.head(10)

# Print the dataframes
print("Top 10 ODI Teams in Women's Cricket:\n", df_teams)
print("\nTop 10 Women's ODI Batswomen:\n", df_batswomen)
print("\nTop 10 Women's ODI All-rounders:\n", df_allrounders)

Top 10 ODI Teams in Women's Cricket:
    Pos           Team T  Matches M  Points P  Rating R
0    1    Australia AUS         21      3603       172
1    2      England ENG         28      3342       119
2    3  South Africa SA         26      3098       119
3    4        India IND         27      2820       104
4    5   New Zealand NZ         25      2553       102
5    6   West Indies WI         27      2535        94
6    7   Bangladesh BAN         13       983        76
7    8     Thailand THA          8       572        72
8    9     Pakistan PAK         27      1678        62
9   10     Sri Lanka SL          8       353        44

Top 10 Women's ODI Batswomen:
                                                  Pos               Player  \
0                                             1  (0)         Alyssa Healy
1                                             2  (0)          Beth Mooney
2                                             3  (0)      Laura Wolvaardt
3                                             4  (0)       Natalie Sciver
4  5  (2) This player has moved up in the ranking...          Meg Lanning
5  6  (1) This player has moved down in the ranki...     Harmanpreet Kaur
6  7  (1) This player has moved down in the ranki...      Smriti Mandhana
7                                             8  (0)       Rachael Haynes
8                                             9  (0)  Chamari Athapaththu
9                                            10  (0)    Amy Satterthwaite

  Team  Rating              Career Best Rating
0  AUS     762       785 v England, 03/04/2022
1  AUS     754      754 v Pakistan, 21/01/2023
2   SA     732     741 v Australia, 22/03/2022
3  ENG     731  755 v South Africa, 15/07/2022
4  AUS     717   834 v New Zealand, 24/02/2016
5  IND     716       731 v England, 21/09/2022
6  IND     714       797 v England, 28/02/2019
7  AUS     680   713 v West Indies, 15/03/2022
8   SL     655  691 v South Africa, 14/02/2019
9   NZ     641     756 v Australia, 02/03/2017

Top 10 Women's ODI All-rounders:
        Pos            Player Team  Rating              Career Best Rating
0   1  (0)   Hayley Matthews   WI     373       383 v England, 04/12/2022
1   2  (0)    Natalie Sciver  ENG     371  395 v South Africa, 11/07/2022
2   3  (0)      Ellyse Perry  AUS     366   548 v West Indies, 11/09/2019
3   4  (0)    Marizanne Kapp   SA     349   419 v West Indies, 10/09/2021
4   5  (0)       Amelia Kerr   NZ     336   356 v West Indies, 25/09/2022
5   6  (0)     Deepti Sharma  IND     322  397 v South Africa, 09/10/2019
6   7  (0)  Ashleigh Gardner  AUS     292      292 v Pakistan, 21/01/2023
7   8  (0)     Jess Jonassen  AUS     250   308 v West Indies, 11/09/2019
8   9  (0)          Nida Dar  PAK     232     232 v Australia, 21/01/2023
9  10  (0)    Jhulan Goswami  IND     214     308 v Australia, 02/02/2016

In [7]:
url = "https://www.cnbc.com/world/?region=world"
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')

news_list = soup.find_all('div', class_='Card-titleContainer')
headlines = []
times = []
links = []

for news in news_list:
    headline = news.find('a', class_='Card-title').text.strip()
    time = news.find('time', class_='Card-title')
    link = news.find('a', class_='Card-title')['href']
    headlines.append(headline)
    times.append(time)
    links.append(link)

df = pd.DataFrame({'Headline': headlines, 'Time': times, 'News Link': links})

df

,Headline,Time,News Link
0,"Stocks close higher Friday, Nasdaq notches bes...",None,https://www.cnbc.com/2023/03/30/stock-market-t...
1,Biden tells Russia to release WSJ reporter; Wi...,None,https://www.cnbc.com/2023/03/31/russia-ukraine...
2,Kyiv says nearly 500 children have died in Mos...,None,https://www.cnbc.com/2023/03/30/ukraine-war-li...
3,'It's not a pretty picture': Russia's support ...,None,https://www.cnbc.com/2023/03/30/ukraine-war-ho...
4,Mercenary boss says Bakhmut is battering both ...,None,https://www.cnbc.com/2023/03/29/ukraine-war-li...
5,German and British tanks arrive in Ukraine; Ru...,None,https://www.cnbc.com/2023/03/28/ukraine-war-li...
6,EU agrees to ramp up 2030 renewable energy tar...,None,https://www.cnbc.com/2023/03/30/climate-eu-agr...
7,Climate change is first and foremost a food se...,None,https://www.cnbc.com/video/2023/03/30/climate-...
8,Private jet flights in Europe soar to record l...,None,https://www.cnbc.com/2023/03/30/private-jet-fl...
9,Energy agency chief warns transition to renewa...,None,https://www.cnbc.com/2023/03/28/renewables-ene...
10,Here's what you need to know about Europe's 'g...,None,https://www.cnbc.com/2023/03/24/climate-a-gree...
11,Millions will start losing Medicaid coverage a...,None,https://www.cnbc.com/2023/03/31/medicaid-milli...
12,U.S. appeals decision striking down free Obama...,None,https://www.cnbc.com/2023/03/31/obamacare-bide...
13,Texas judge strikes down Obamacare coverage of...,None,https://www.cnbc.com/2023/03/30/obamacare-judg...
14,Two court cases in Washington state and Texas ...,None,https://www.cnbc.com/2023/03/29/abortion-pill-...
15,FDA approves over-the-counter sales of opioid ...,None,https://www.cnbc.com/2023/03/29/opioids-fda-ap...
16,Asia's 'best restaurants' list is out — and it...,None,https://www.cnbc.com/2023/03/29/best-restauran...
17,Finland gives away free trips to travelers who...,None,https://www.cnbc.com/2023/03/22/finland-gives-...
18,Traveling to Asia for work? This city is its m...,None,https://www.cnbc.com/2023/03/22/hong-kong-reta...
19,"To escape the rat race, this pair cycled from ...",None,https://www.cnbc.com/2023/03/21/cycling-from-e...
20,Here are the world's best airports for 2023,None,https://www.cnbc.com/2023/03/16/best-airport-i...
21,"Gen Zer, millennial pay under $700/month to re...",None,https://www.cnbc.com/2023/04/01/millennials-mi...
22,"If you use these 13 phrases every day, you hav...",None,https://www.cnbc.com/2023/04/01/if-you-use-the...
23,We pay under $700/month to live in 'micro apar...,None,https://www.cnbc.com/video/2023/04/01/we-pay-u...
24,79% of hotel guests say you should tip—but onl...,None,https://www.cnbc.com/2023/04/01/how-much-to-ti...
25,30-day money challenge to get smarter and more...,None,https://www.cnbc.com/2023/04/01/financial-lite...

In [8]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')

articles = soup.find_all('div', class_='pod-listing-header')

titles = []
authors = []
dates = []
urls = []

for article in articles:
    title = article.find('a', class_='pod-listing-title-link').text.strip()
    author = article.find('div', class_='pod-listing-authors').text.strip()
    date = article.find('div', class_='pod-listing-details').text.strip()
    url = article.find('a', class_='pod-listing-title-link')['href']
    titles.append(title)
    authors.append(author)
    dates.append(date)
    urls.append(url)

df = pd.DataFrame({'Paper Title': titles, 'Authors': authors, 'Published Date': dates, 'Paper URL': urls})

df

Empty DataFrame
Columns: [Paper Title, Authors, Published Date, Paper URL]
Index: []

In [9]:
url = "https://www.dineout.co.in/delhi-restaurants/buffet-special"
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')

restaurants = soup.find_all('div', class_='restnt-info')
names = []
cuisines = []
locations = []
ratings = []
image_urls = []

for restaurant in restaurants:
    try:
        name = restaurant.find('h2', class_='restnt-name').text.strip()
    except:
        name = ""
    try:
        cuisine = restaurant.find('p', class_='restnt-cuisine').text.strip()
    except:
        cuisine = ""
    try:
        location = restaurant.find('p', class_='restnt-loc').text.strip()
    except:
        location = ""
    try:
        rating = restaurant.find('div', class_='restnt-rating').text.strip()
    except:
        rating = ""
    try:
        image_url = restaurant.find('img', class_='restnt-img')['data-src']
    except:
        image_url = ""
    names.append(name)
    cuisines.append(cuisine)
    locations.append(location)
    ratings.append(rating)
    image_urls.append(image_url)

df = pd.DataFrame({'Restaurant Name': names, 'Cuisine': cuisines, 'Location': locations, 'Ratings': ratings, 'Image URL': image_urls})

df

  Restaurant Name Cuisine Location Ratings Image URL
0
1
2
3
4
5
6
7
8